@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');


* {
   margin: 0;
   padding: 0;
   border: 0;
}

body {
   background-color: white;
}

nav {
   margin-bottom: 100%;
   position: fixed;
   background-color: #149ce5;
   width: 100%;
   height: 50px;
   box-shadow: -1px 1px 2px #acacac;
}

#logo {
   font-family: "Dancing Script", sans-serif;
   font-size: 1.5em;
   float: left;
   color: white;
   text-shadow: 1px 1px 2px rgb(189, 14, 224);
}

#logo,
#navigator {
   line-height: 45px;
}

#navigator>li {
   list-style-type: none;
   margin-right: 22px;
   font-family: Ubuntu, sans-serif;
   display: inline;
   text-shadow: 1px 1px 2px #042921;
   font-size: 17px;
}

#navigator a {
   text-decoration: none;
   color: white;

}

/* reposition the nav bar that shows reversed  */
#navigator {
   float: right;
}

#navigator a:hover {
   color: rgb(16, 128, 255);
   background-color: #ffffff;
   border-radius: 2px;
   border-style: dashed;
}

.active {
   background-color: #cfd1d1;
   color: white;
   border-radius: 2px;
}

footer {
   background-color: #149ce5;
   position: fixed;
   box-shadow: 2px 2px #213a47;
   bottom: 0;
   width: 100%;
   height: 50px;

}

.social-networks>li {
   text-align: center;
   display: inline;
   padding: 4px;
   font-size: 2rem;
}

.social-networks i {
   text-align: center;
   color: black;
   text-shadow: 1px 1px 2px rgb(189, 14, 224);
}

.social-networks i:hover {
   color: rgb(16, 255, 88);
   background-color: rgb(31, 185, 240);
   border-radius: 2px;
   border-style: dashed;
}


#package1 {
   padding: 22px 22px 22px 22px;
   float: left;
   clear: right;
   font-family: Ubuntu, sans-serif;
   height: 200px;
   margin: 100px;
   border-radius: 2px;
   color: black;
   font-size: 15px;
}

#package2 {
   padding: 22px 22px 22px 22px;
   position: absolute;
   font-family: Ubuntu, sans-serif;
   height: 200px;
   margin-top: 100px;
   margin-left: 500px;
   color: black;
   font-size: 15px;
}



@media screen and (max-width: 772px){

   nav{
       height: 80px;
       position: fixed;
       width: 100%;
       margin-bottom: 20px;
       line-height: 25px;
   }
  

   #package1{
   
      font-size: 11px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    px;
      float: left;
      clear: right;
       height: 140px;
       margin: 140px auto;
   }
  #package2{
   top: 200px;
   bottom: 20px;
   font-size: 11px;
   float: right;
   clear: left;
      height: 140px;
      margin: 140px auto; 
  }
}



@media screen and (max-width: 584px){

   nav{
       height: 90px;
       position: fixed;
       width: 100%;
       margin-bottom: 20px;
       line-height: 25px;
   }
  

   #package1{
   
      font-size: 11px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    px;
      float: left;
      clear: right;
       height: 140px;
       margin: 140px auto;
   }
  #package2{
   top: 200px;
   bottom: 20px;
   font-size: 11px;
   float: right;
   clear: left;
      height: 140px;
      margin: 140px auto; 
  }
}

@media screen and (max-width: 480px){

   nav{
       height: 100px;
       position: fixed;
       width: 100%;
       margin-bottom: 20px;
       line-height: 25px;
   }
  

   #package1{
      font-size: 15px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    px;
      float: left;
      clear: right;
       height: 200px;
       margin: 140px auto;
   }
  #package2{
   top: 280px;
   font-size: 15px;
   float: right;
   clear: left;
      height: 200px;
      margin: 140px auto; 
  }
}


@media screen and (max-width: 380px){

   nav{
       display: inline;
       height: 100px;
       position: fixed;
       width: 100%;
       margin-bottom: 20px;
       line-height: 25px;
   }
  #navigator a{
   font-size: 15px;
  }

   #package1{
      font-size: 12px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    px;
      float: left;
      clear: right;
       height: 150px;
       margin: 140px auto;
   }
  #package2{
   top: 230px;
   font-size: 12px;
   float: right;
   clear: left;
   height: 150px;
   margin: 140px auto; 
  }
}

@media screen and (max-width: 320px){

   nav{
       display: inline;
       height: 100px;
       position: fixed;
       width: 100%;
       margin-bottom: 20px;
       line-height: 25px;
       
   }
  #navigator a{
   font-size: 12px;
   left: 111px;
    margin-left: -2px;
  }

   #package1{
      font-size: 9px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    px;
      float: left;
      clear: right;
       height: 110px;
       margin: 140px auto;
   }
  #package2{
   font-size: 9px;
   top: 170px;
   font-size: 19x;
   float: right;
   clear: left;
   height: 110px;
   margin: 140px auto; 
  }
  #contactp > p{
   position: absolute;
   margin-top: 1%;
   padding: 0;
   top: 11%;
   font-family: Ubuntu, sans-serif;
   font-size: 221%;
   color: black;
   text-align: center;
 
} 

 #fname,#email,#phone{
   background: rgba(20, 156, 229, 0.6);
    border-radius: 2px; 
   margin-top: 220px;
   border: 2px solid black;
   color: white;
   font-size: 120%;
 }
 #send{
   background-color: #149ce5;
   font-size: 130%;
   border-radius: 2px; 
   margin-top: 120px;
   border: 2px solid black;
   color: white;
}
}

#contactp > p{
   position: absolute;
   margin-top: 1%;
   padding: 0;
   top: 11%;
   font-family: Ubuntu, sans-serif;
   font-size: 221%;
   color: black;
   text-align: center;
 
} 

 #fname,#email,#phone{
   background: rgba(20, 156, 229, 0.6);
    border-radius: 2px; 
   margin-top: 220px;
   border: 2px solid black;
   color: white;
   font-size: 120%;
 }
 #send{
   background-color: #149ce5;
   font-size: 130%;
   border-radius: 2px; 
   margin-top: 120px;
   border: 2px solid black;
   color: white;
}
::placeholder{
   color: white;
}

