@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
   box-sizing: border-box
}



/* Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px) {
   #logo {
      text-shadow: 2px 2px 2px rgb(28, 3, 59);
      color: rgb(26, 215, 196);
      position: fixed;
      font-size: 10px;
      font-family: Courgette, sans-serif;
      height: -20px;
      float: left;
      margin: -121px 0 0 0;
      padding: 0 0 0 10px;
      width: 100%;
      background-color: #8f63fe;
   }

   #navbar {
      font-size: 12px;
      background-color: rgba(2, 6, 52, 0.552);
      width: 100%;
      position: fixed;
      margin: -70px 0 0 0;
      text-align: right;
      box-shadow: -1px 1px 2px 2px #a6a6a6;
   }

   #navbar>a {
      margin: 0 4px 0 0;
      color: rgb(255, 255, 255);
      text-decoration: none;
   }

   #navbar>a:hover {
      color: rgba(119, 73, 237, 0.543);
      text-decoration: none;
      background-color: white;
   }

   .active {

      font-size: 15px;
      background-color: rgb(26, 215, 196);
   }


   body {
      margin: 120px 0px 0px 0;
      width: 100%;
   }

   .backgroundhome {
      background: url('/assets/images/pexels-ichad-windhiagiri-7082467.jpg') center center / cover no-repeat fixed;
      background-position: center;

   }

   #hometext {
      font-family: Ubuntu, sans-serif;
      background-color: rgba(119, 73, 237, 0.543);
      color: rgb(255, 255, 255);
      text-shadow: 1px 1px rgb(8, 172, 209);
   }

   footer {
      background-color: rgba(119, 73, 237, 0.543);
      margin: 0 0 0 0;
      width: 100%;
      text-align: center;
      color: white;
      position: fixed;
      bottom: 0;
   }

   footer li {
      display: inline;
      color: white;
   }

   footer a {
      color: white;
      margin: 0 20px 0 0;

   }

   #images {
      width: 100%;
      height: 40%;
      margin: 120px 0 0 0;
      z-index: -1;

   }



   #images>img {
      width: 30%;

      margin: 0 0 -5% 2%;
   }



   #package1 {
      width: 320px;
      background-color: rgba(119, 73, 237, 0.543);
      margin: 120px 0 151px 30px;
      border-radius: 1px;
      font-size: 12px;
      font-family: Ubuntu, sans-serif;
      z-index: -1;
   }

   #package2 {
      width: 320px;
      margin: -87px 0 0 30px;
      background-color: rgba(119, 73, 237, 0.543);
      border-radius: 1px;
      font-size: 12px;
      font-family: Ubuntu, sans-serif;
      z-index: -1;
   }

   #contactp {
      font-family: Ubuntu, sans-serif;
      margin: 1207px 0 171px 0;
      font-size: 5px;
      z-index: -1;
   }

   #secondform {

      width: 60%;
      height: 250px;
      background-color: rgba(119, 73, 237, 0.543);
      margin: 121px 0 -400% 79px;
      border-radius: 1px;
      z-index: -1;
   }

   #fname,
   #email,
   #tel {
      width: 70%;

   }

   #contacttable {
      text-align: center;
      width: 30%;
      margin: 289px 0 -164px 35%;
      font-size: 7px;
      border: 1px solid#3a3a3a;
      border-radius: 1px;
   }

   #map {
      margin: 146px 0 0 42px;

   }
}






@media only screen and (min-width: 600px) {
   #logo {
      position: fixed;
      font-size: 12px;
      font-family: Courgette;
      height: -20px;
      float: left;
      margin: -15px 0 0 0;
      padding: 0 0 0 10px;
      width: 100%;
      background-color: #7749ed8a;
   }

   #navbar {
      font-size: 12px;
      display: block;
      background-color: rgba(2, 6, 52, 0.552);
      width: 100%;
      position: fixed;
      margin: 40px 0 100px 0;
      text-align: right;
      box-shadow: -1px 1px 2px 2px #a6a6a6;
   }

   #navbar>a {
      margin: 0 4px 0 0;
      padding: 0 30px 0 0;
      color: rgb(255, 255, 255);
      text-decoration: none;
   }

   #navbar>a:hover {
      color: rgba(119, 73, 237, 0.543);
      text-decoration: none;
      background-color: aliceblue;
   }

   .active {
      border-bottom: 1px solid #3a3a3a;
      font-size: 15px;
      background-color: rgb(17, 165, 233);
   }

   body {
      margin: 0;
      width: 100%;


   }

   footer {
      background-color: rgba(119, 73, 237, 0.543);
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: white;
   }

   footer li {
      display: inline;
      color: white;
   }

   footer a {
      color: white;
      margin: 0 20px 0 0;
   }
}

@media only screen and (min-width: 992px) {
   #logo {
      position: fixed;
      font-size: 12px;
      font-family: Courgette;
      height: -20px;
      float: left;
      margin: -15px 0 0 0;
      padding: 0 0 0 10px;
      width: 100%;
      background-color: #7749ed8a;
   }

   #navbar {
      font-size: 12px;
      display: block;
      background-color: rgba(2, 6, 52, 0.552);
      width: 100%;
      position: fixed;
      margin: 40px 0 100px 0;
      text-align: right;
      box-shadow: -1px 1px 2px 2px #a6a6a6;
   }

   #navbar>a {
      margin: 0 4px 0 0;
      padding: 0 30px 0 0;
      color: rgb(255, 255, 255);
      text-decoration: none;
   }

   #navbar>a:hover {
      color: rgba(119, 73, 237, 0.543);
      text-decoration: none;
      background-color: aliceblue;
   }

   .active {
      border-bottom: 1px solid #3a3a3a;
      font-size: 15px;
      background-color: rgb(17, 165, 233);
   }

   body {
      margin: 0;
      width: 100%;


   }

   footer {
      background-color: rgba(119, 73, 237, 0.543);
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: white;
   }

   footer li {
      display: inline;
      color: white;
   }

   footer a {
      color: white;
      margin: 0 20px 0 0;
   }
}

@media only screen and (min-width: 768px) {
   #logo {
      position: fixed;
      font-size: 12px;
      font-family: Courgette;
      height: -20px;
      float: left;
      margin: -15px 0 0 0;
      padding: 0 0 0 10px;
      width: 100%;
      background-color: #7749ed8a;
   }

   #navbar {
      font-size: 12px;
      display: block;
      background-color: rgba(2, 6, 52, 0.552);
      width: 100%;
      position: fixed;
      margin: 40px 0 100px 0;
      text-align: right;
      box-shadow: -1px 1px 2px 2px #a6a6a6;
   }

   */ #navbar>a {
      margin: 0 4px 0 0;
      padding: 0 30px 0 0;
      color: rgb(255, 255, 255);
      text-decoration: none;
   }

   #navbar>a:hover {
      color: rgba(119, 73, 237, 0.543);
      text-decoration: none;
      background-color: aliceblue;
   }

   .active {
      border-bottom: 1px solid #3a3a3a;
      font-size: 15px;
      background-color: rgb(17, 165, 233);
   }

   body {
      margin: 0;
      width: 100%;


   }

   footer {
      background-color: rgba(119, 73, 237, 0.543);
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: white;
   }

   footer li {
      display: inline;
      color: white;
   }

   footer a {
      color: white;
      margin: 0 20px 0 0;
   }
}

@media only screen and (min-width: 1200px) {
   #logo {
      position: fixed;
      font-size: 12px;
      font-family: Courgette;
      height: -20px;
      float: left;
      margin: -15px 0 0 0;
      padding: 0 0 0 10px;
      width: 100%;
      background-color: #7749ed8a;
   }

   #navbar {
      font-size: 12px;
      display: block;
      background-color: rgba(2, 6, 52, 0.552);
      width: 100%;
      position: fixed;
      margin: 40px 0 100px 0;
      text-align: right;
      box-shadow: -1px 1px 2px 2px #a6a6a6;
   }

   #navbar>a {
      margin: 0 4px 0 0;
      padding: 0 30px 0 0;
      color: rgb(255, 255, 255);
      text-decoration: none;
   }

   #navbar>a:hover {
      color: rgba(119, 73, 237, 0.543);
      text-decoration: none;
      background-color: aliceblue;
   }

   .active {
      border-bottom: 1px solid #3a3a3a;
      font-size: 15px;
      background-color: rgb(17, 165, 233);
   }

   body {
      margin: 0;
      width: 100%;


   }

   footer {
      background-color: rgba(119, 73, 237, 0.543);
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: white;
   }

   footer li {
      display: inline;
      color: white;
   }

   footer a {
      color: white;
      margin: 0 20px 0 0;
   }
}