@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
   box-sizing: border-box
}



/* Extra small devices (phones, 600px and down)*/
@media only screen and (max-width: 600px) {
   #logo {
      text-shadow:2px 2px 2px rgb(28, 3, 59);
      color: rgb(26, 215, 196);
      position: fixed;
      font-size: 10px;
      font-family: Courgette, sans-serif;
      height: -20px;
      float: left;
      margin: -300% 0 0 0;
      padding: 0 0 0 10px;
      width: 100%;
      background-color: #8f63fe;
   }

   #navbar {
      font-size: 12px;
      background-color: rgba(2, 6, 52, 0.552);
      width: 100%;
      position: fixed;
      margin: -287% 0 100px 0;
      text-align: right;
      box-shadow: -1px 1px 2px 2px #a6a6a6;
   }

   #navbar>a {
      margin: 0 4px 0 0;
      padding: 0 30px 0 0;
      color: rgb(255, 255, 255);
      text-decoration: none;
   }

   #navbar>a:hover {
      color: rgba(119, 73, 237, 0.543);
      text-decoration: none;
      background-color: aliceblue;
   }

   .active {
      border-bottom: 1px solid #3a3a3a;
      font-size: 15px;
      background-color: ;
   }


   body {
      margin: 0;
      width: 100%;
      overflow: inherit;
   }

   footer {
      background-color: rgba(119, 73, 237, 0.543);
      margin: 300% 0 -100% 0;
      width: 100%;
      text-align: center;
      color: white;
   }

   footer li {
      display: inline;
      color: white;
   }

   footer a {
      color: white;
      margin: 0 20px 0 0;
   }

   #package1 {
      position: absolute;
      background-color: rgba(119, 73, 237, 0.543);
      margin: -260% 0 0 0;
      border: 1px solid rgb(114, 113, 113);
      border-radius: 1px;
      font-family: Ubuntu, sans-serif;
      z-index: -1;
   }

   #package2 {
      margin: -170% 0 0 0;
      position: absolute;
      background-color: rgba(119, 73, 237, 0.543);
      border: 1px solid rgb(114, 113, 113);
      border-radius: 1px;
      font-family: Ubuntu, sans-serif;
      z-index: -1;
   }

   #contactp {
      font-family: Ubuntu, sans-serif;
      margin: -280% 0 0 0;
      position: absolute;
      font-size: 12px;
      z-index: -1;
   }

   #secondform {
      position: absolute;
      width: 100%;
      height: 40%;
      background-color: rgba(119, 73, 237, 0.543);
      margin: -240% 0 -400% 0;
      border: 1px solid rgb(114, 113, 113);
      border-radius: 1px;
      z-index: -1;
   }

   #fname,
   #email,
   #tel {
      width: 90%;

   }

   #contacttable {
      text-align: center;
      width: 30%;
      margin: 100% 0 0 35%;
      position: absolute;
      border: 1px solid#3a3a3a;
      border-radius: 1px;
   }

   #map {
      width: 150px;
      height: 400px;
      margin: -130% 0 0 3%;
      position: absolute;
   }
}






@media only screen and (min-width: 600px) {
   #logo {
      position: fixed;
      font-size: 12px;
      font-family: Courgette;
      height: -20px;
      float: left;
      margin: -15px 0 0 0;
      padding: 0 0 0 10px;
      width: 100%;
      background-color: #7749ed8a;
   }

   #navbar {
      font-size: 12px;
      display: block;
      background-color: rgba(2, 6, 52, 0.552);
      width: 100%;
      position: fixed;
      margin: 40px 0 100px 0;
      text-align: right;
      box-shadow: -1px 1px 2px 2px #a6a6a6;
   }

   #navbar>a {
      margin: 0 4px 0 0;
      padding: 0 30px 0 0;
      color: rgb(255, 255, 255);
      text-decoration: none;
   }

   #navbar>a:hover {
      color: rgba(119, 73, 237, 0.543);
      text-decoration: none;
      background-color: aliceblue;
   }

   .active {
      border-bottom: 1px solid #3a3a3a;
      font-size: 15px;
      background-color: rgb(17, 165, 233);
   }

   body {
      margin: 0;
      width: 100%;


   }

   footer {
      background-color: rgba(119, 73, 237, 0.543);
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: white;
   }

   footer li {
      display: inline;
      color: white;
   }

   footer a {
      color: white;
      margin: 0 20px 0 0;
   }
}

@media only screen and (min-width: 992px) {
   #logo {
      position: fixed;
      font-size: 12px;
      font-family: Courgette;
      height: -20px;
      float: left;
      margin: -15px 0 0 0;
      padding: 0 0 0 10px;
      width: 100%;
      background-color: #7749ed8a;
   }

   #navbar {
      font-size: 12px;
      display: block;
      background-color: rgba(2, 6, 52, 0.552);
      width: 100%;
      position: fixed;
      margin: 40px 0 100px 0;
      text-align: right;
      box-shadow: -1px 1px 2px 2px #a6a6a6;
   }

   #navbar>a {
      margin: 0 4px 0 0;
      padding: 0 30px 0 0;
      color: rgb(255, 255, 255);
      text-decoration: none;
   }

   #navbar>a:hover {
      color: rgba(119, 73, 237, 0.543);
      text-decoration: none;
      background-color: aliceblue;
   }

   .active {
      border-bottom: 1px solid #3a3a3a;
      font-size: 15px;
      background-color: rgb(17, 165, 233);
   }

   body {
      margin: 0;
      width: 100%;


   }

   footer {
      background-color: rgba(119, 73, 237, 0.543);
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: white;
   }

   footer li {
      display: inline;
      color: white;
   }

   footer a {
      color: white;
      margin: 0 20px 0 0;
   }
}

@media only screen and (min-width: 768px) {
   #logo {
      position: fixed;
      font-size: 12px;
      font-family: Courgette;
      height: -20px;
      float: left;
      margin: -15px 0 0 0;
      padding: 0 0 0 10px;
      width: 100%;
      background-color: #7749ed8a;
   }

   #navbar {
      font-size: 12px;
      display: block;
      background-color: rgba(2, 6, 52, 0.552);
      width: 100%;
      position: fixed;
      margin: 40px 0 100px 0;
      text-align: right;
      box-shadow: -1px 1px 2px 2px #a6a6a6;
   }

   */ #navbar>a {
      margin: 0 4px 0 0;
      padding: 0 30px 0 0;
      color: rgb(255, 255, 255);
      text-decoration: none;
   }

   #navbar>a:hover {
      color: rgba(119, 73, 237, 0.543);
      text-decoration: none;
      background-color: aliceblue;
   }

   .active {
      border-bottom: 1px solid #3a3a3a;
      font-size: 15px;
      background-color: rgb(17, 165, 233);
   }

   body {
      margin: 0;
      width: 100%;


   }

   footer {
      background-color: rgba(119, 73, 237, 0.543);
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: white;
   }

   footer li {
      display: inline;
      color: white;
   }

   footer a {
      color: white;
      margin: 0 20px 0 0;
   }
}

@media only screen and (min-width: 1200px) {
   #logo {
      position: fixed;
      font-size: 12px;
      font-family: Courgette;
      height: -20px;
      float: left;
      margin: -15px 0 0 0;
      padding: 0 0 0 10px;
      width: 100%;
      background-color: #7749ed8a;
   }

   #navbar {
      font-size: 12px;
      display: block;
      background-color: rgba(2, 6, 52, 0.552);
      width: 100%;
      position: fixed;
      margin: 40px 0 100px 0;
      text-align: right;
      box-shadow: -1px 1px 2px 2px #a6a6a6;
   }

   #navbar>a {
      margin: 0 4px 0 0;
      padding: 0 30px 0 0;
      color: rgb(255, 255, 255);
      text-decoration: none;
   }

   #navbar>a:hover {
      color: rgba(119, 73, 237, 0.543);
      text-decoration: none;
      background-color: aliceblue;
   }

   .active {
      border-bottom: 1px solid #3a3a3a;
      font-size: 15px;
      background-color: rgb(17, 165, 233);
   }

   body {
      margin: 0;
      width: 100%;


   }

   footer {
      background-color: rgba(119, 73, 237, 0.543);
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      color: white;
   }

   footer li {
      display: inline;
      color: white;
   }

   footer a {
      color: white;
      margin: 0 20px 0 0;
   }
}